@import './variables';
@import './mixins';
@import './typography.scss';
@import './colors.scss';

html,
body {
  padding: 0;
  margin: 0;
  line-height: $line-height;
  font-size: 120%;
  font-family: $font-family;
  color: $color-dark;

  @include s {
    font-size: 105%;
  }
}

* {
  box-sizing: border-box;
}

::selection {
  color: $color-dark;
  background: $color-highlight;
}

main {
  border: 1rem solid darken($color-light, 5%);
  transition: border $transition-mode;

  @include s {
    border-width: 0.5rem;
  }
}

.content {
  max-width: $size-content;
  width: $size-viewport;
  margin: 0 auto;
  padding: 7.5vw 0;
}

@import './sections/intro.scss';
@import './sections/background.scss';
@import './sections/work-education.scss';
@import './sections/skills.scss';
@import './sections/contact.scss';
@import './sections/personal.scss';
