html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  color: #ffffff;
  background: #134e5e;
  background: -webkit-linear-gradient(200deg, #71b280, #134e5e);
  background: linear-gradient(200deg, #71b280, #134e5e);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
